*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

html {
    font-size: 62, 5%;
}

/*VARIABLES*/

:root {
    --principal: rgb(202, 228, 245);
    --secondary: rgb(118, 125, 226);
    --font-nav: 'Bebas Neue', cursive;
    --font-title: 'Poller One', cursive;
    --font-subtitle: 'Merienda', cursive;
    --font-text: 'Poiret One', cursive;
    --text-large: 2em;
    --text-medium: 1.5em;
}

/*HELPERS*/

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/*HEADER*/


header {
    display: flex;
    background-image: url(../assets/img/banner.jpg);
    background-size: 1280px 200px;
    grid-column: 1/9;
    grid-row: 1;
}

header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header__logo {
    flex-basis: 10%;
    flex-direction: row;
    justify-content: flex-start;
}

header .header__botones {
    flex-basis: 50%;
    justify-content: space-between;
    font-family: var(--font-nav);
    list-style-type: none;
}

nav ul li:hover {
    background-color: pink;
}

nav ul li a {
    text-decoration: underline;
    color: black;
    font-size: var(--text-medium);
    display: inline-block;
}

#contenedor__Home__Grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

/*MAIN*/

/*Tarjeta Pastas y Salsas*/

main {
    grid-column: 2/8;
    grid-row: 2/11;
}

.main__container1 {
    background-color: var(--principal);
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem;
}

.pastasYSalsas {
    display: flex;
    justify-content: space-between;

}

#imgPastas {
    justify-content: flex-start;
    width: 55%;
    margin: 1%;
}


.pastasYSalsas__text {
    display: flex;
    font-family: var(--font-title);
    text-align: center;
    align-items: center;
}

.pastasYSalsas__text:hover{
    text-decoration: underline;
    color: blue;
}

.pastasYSalsas__boton {
    display: flex;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    color: black;
    background-color: rgb(240, 240, 110);
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    height: 10%;
}

.pastasYSalsas__boton:hover {
    text-decoration: underline;
    color: white;
    
}

/*Tarjeta Recetas Express*/

.recetasExpress {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#imgRecetasExpress {
    max-width: 65%;
    justify-content: flex-end;
    margin: 1%;
}

.recetasExpress__text {
    display: flex;
    font-family: var(--font-title);
    font-size: var(--text-large);
    align-self: center;
    text-align: center;
}

.recetasExpress__text:hover {
    text-decoration: underline;
    color: blue;
}

.recetasExpress__boton {
    display: flex;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    color: black;
    background-color: rgb(240, 240, 110);
    padding: 1%;
    flex-direction: column;
    justify-content: center;
    height: 10%;
}

.recetasExpress__boton:hover {
    text-decoration: underline;
    color: white;
    
}

/*FOOTER*/
footer {
    height: 10vh;
    align-items: center;
    justify-content: center;
    grid-column: 1/11;
    grid-row: 11;
}

.footer {
    display: flex;
    font-family: 'Abel', sans-serif;
    background-color: var(--secondary);
    flex-direction: column-reverse;
    padding: 3%;
}

/* Pagina Recetas */

#contenedor__Recetas__Grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);

}

.main__container__Recetas {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem;
}

ul {
    list-style: none;
}

.receta__pizza {
    padding: 0% 0% 25% 3%;
    margin-right: 5%;
    text-align: left;

}


#amasando {
    float: right;
    margin-left: 10%;
    max-width: 30%;

}

#amasando2 {
    float: right;
    margin-left: 10%;
    max-width: 30%;
}

#croquetasImg {
    float: right;
    margin-left: 50%;
    max-width: 40%;
}

#receta__croquetas {
    padding: 0% 0% 5% 3%;
    margin-right: 5%;
    text-align: left;
}

.Recetas__Titulo {
    font-family: var(--font-title);
    font-size: 30px;
}

.Subtitulo__Recetas {
    font-family: var(--font-subtitle);
    font-size: 20px;
}

.texto__Recetas {
    font-family: var(--font-text);
    font-size: 20px;

}

/* Pagina Postres*/

.contenedor__postres__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);

}

.main__container__postres {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem;
}

#receta__panqueques{
    padding: 0% 0% 10% 3%;
    margin-right: 5%;
    text-align: left;
}

#panquequesImg{
    float: right;
    margin-left: 10%;
    max-width: 40%;
}

#receta__churros {
    padding: 0% 0% 10% 3%;
    margin-right: 5%;
    text-align: left;
}

#churrosImg{
    float: right;
    margin-left: 10%;
    max-width: 40%;
}


/*Pagina Ver Mas Pastas y Salsas*/

.contenedor__pastas__y__salsas__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);

}

.main__container__pastas__y__salsas {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem;
}

#receta__pastas{
    padding: 0% 0% 10% 3%;
    margin-right: 5%;
    text-align: left;
}

#pastasImg{
    float: right;
    margin-left: 10%;
    max-width: 40%;
}

#receta__noquis {
    padding: 0% 0% 10% 3%;
    margin-right: 5%;
    text-align: left;
}

#noquisImg {
    float: right;
    margin-left: 10%;
    max-width: 40%;
}



/*Paginas Ver Mas*/

.RecetasTitulo__Grande {
    font-family: var(--font-title);
    font-size: medium;
}

/*Pagina Ver Mas Recetas Express*/

.contenedor__recetas__express__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);

}

.main__container__recetas__express {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem;
}

.RecetasTitulo__Grande{
    text-align: center;
    font-size: 3em;
    padding-bottom: 3%;
}

#recetas__sandwich{
    padding: 0% 0% 10% 3%;
    margin-right: 5%;
    text-align: left
    
}

  .expressImg {
    float: right;
    margin-left: 10%;
    max-width: 40%;
}

#recetas__Tarta{
    padding: 0% 0% 25% 3%;
    margin-right: 5%;
    text-align: left;

}



/*Pagina Contacto*/

.contenedor__contacto__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.main__container__contacto {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem;
}

.contacto__titulo {
    font-family: var(--font-title);
    font-size: 2em;
    text-align: center;
    padding-bottom: 2%;
}

.form__campos {
    font-family: 'Hubballi', cursive;

    
} 

#comentarios{
    height: 20vh;
}
#formContact{
    padding-left: 30%;
}

.form__text {
    text-align: center;
    padding-bottom: 2%;
    font-family: 'Hubballi', cursive;
}

#campo__nombre {
    float: left;
}

#campo__email{
    padding-left: 30%; 
}

#campo__comentarios{
    padding: 5% 0% 5% 15%;

}

#enviar__boton{
    margin: 0% 0% 2% 40%;
    font-family: 'Fredoka', sans-serif;
  
    
}


@media screen and (max-width: 480px) {
    #contenedor__Home__Grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    header {
        padding: 2rem;
        background-size: 1000px 400px;
    }

    header .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }


    .header__logo {
        display: none;
    }

    header .header__botones {
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 0.8em;
    }

    .main__container1 {
        margin: 1rem;
    }

    .pastasYSalsas {
        justify-content: space-between;
    }

    #imgPastas {
        justify-content: center;
        width: 90%;
        margin: 1%;
    }

    .pastasYSalsas__text {
        display: none;

    }

    .pastasYSalsas__boton {
        padding: 1%;
        height: 40%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    #imgRecetasExpress {
        max-width: 90%;
        justify-content: center;
        margin: 1%;
    }

    .recetasExpress__text {
        display: none;
    }

    .recetasExpress__boton {
        padding: 1%;
        height: 40%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .footer__logos {
        padding-left: 70%;
        width: 100%;
        box-sizing: content-box;
    }
}

@media screen and (max-width: 769px) {
    #contenedor__Home__Grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    header {
        padding: 2rem;
        background-size: 1000px 400px;
    }

    .header__logo{
        display: none;
    }

    header .navbar {
        justify-content: center;
    }

    header nav ul li{
        margin: 0 20px;
    }

    .main__container1 {
        margin: 1rem;
    }

    .pastasYSalsas {
        display: flex;
        justify-content: space-between;
    }

    #imgPastas {
        justify-content: center;
        width: 90%;
        margin: 1%;
    }

    .pastasYSalsas__text {
        display: none;

    }

    .pastasYSalsas__boton {
        padding: 1%;
        height: 40%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    #imgRecetasExpress {
        max-width: 90%;
        justify-content: center;
        margin: 1%;
    }

    .recetasExpress__text {
        display: none;
    }

    .recetasExpress__boton {
        padding: 1%;
        height: 40%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .footer__logos {
        padding-left: 70%;
        width: 100%;
        box-sizing: content-box;
    }
}

