<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="contenedor__contacto__grid">
        <header>
            <nav class="navbar flex-row container">
                <picture>
                    <a href="../../index.html">
                        <img style=" max-width: 50%;" src="../img/logo.png" alt="Logo Home"
                            class="header__logo flex-row">
                    </a>
                </picture>
                <ul class="header__botones flex-row">
                    <li> <a href="../../index.html">Inicio</a> </li>
                    <li> <a href="../views/recetas.html">Recetas</a> </li>
                    <li> <a href="../views/postres.html">Postres</a></li>
                    <li> <a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <main class="main__container__contacto">
            <section id="form__estilo">
                <article>
                    <h1 class="contacto__titulo">Contacto</h1>

                    <p class="form__text">Formulario de contacto <br>
                        Puedes contactarte con nosotros rellenando el siguiente formulario de contacto:</p>

                    <div>

                        <form action="" id="formContact">
                            <div id="campo__nombre">
                                <label class="form__campos" for="nombre">Nombre:</label> <br>
                                <input type="text" name="Nombre" id="nombre"> <br>
                            </div>
                            <div id="campo__email">
                                <label class="form__campos" for="email">Email:</label> <br>
                                <input class="form__campos" type="email" name="email" id="email"> <br>
                            </div>
                            <div id="campo__comentarios">
                                <label class="form__campos" for="comentarios">Comentarios:</label> <br>
                                <input type="text" name="comentarios" id="comentarios"> <br>
                            </div>

                            <button type="submit" id="enviar__boton">Enviar</button>


                        </form>
                    </div>
                </article>
            </section>
        </main>
        <footer class="footer">
            <div>
                <p class="copyrightText">Copyright © 2022 </p>
            </div>
            <div class="footer__logos">
                <a href="https://www.twitter.com" target="_blank"><img style="max-width: 3%;" src="../img/tw.png"
                        alt="Twitter"> </a>
                <a href="https://www.facebook.com" target="_blank"><img style="max-width: 3%;" src="../img/fb.png"
                        alt="Facebook"> </a>
                <a href="https://www.instagram.com" target="_blank"><img style="max-width: 3%;" src="../img/ig.png"
                        alt="Instagram"> </a>
            </div>
        </footer>
    </div>
</body>

</html>