<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/minilogo.jpg" type="image/x-icon">
    <title>Pastas y Salsas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="contenedor__pastas__y__salsas__grid">
        <header>
            <div class="navbar  container">
                <picture>
                    <a href="../../index.html">
                        <img style=" max-width: 50%;" src="../img/logo.png" alt="Logo Home"
                            class="header__logo ">
                    </a>
                </picture>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                          <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                          <a class="nav-link active" aria-current="page" href="./recetas.html">Recetas</a>
                          <a class="nav-link active" aria-current="page" href="./postres.html">Postres</a>
                          <a class="nav-link active" aria-current="page" href="./contacto.html">Contacto</a>
                        </div>
                      </div>
                    </div>
                </nav>
            </div>
        </header>

        <main class="main__container__pastas__y__salsas">
            <section>
                <article id="receta__pastas">
                    <h1 class="RecetasTitulo__Grande">Pastas y Salsas</h1>
                    <h2 class="Recetas__Titulo">Pastas Saludables</h2>

                    <img src="../img/pastas.jpg" alt="pastas saludables" id="pastasImg">

                    <h3 class="Subtitulo__Recetas">Ingredientes</h3>

                    <ul class="texto__Recetas">
                        <li>Pastas en moñas</li>
                        <li>Tomate cortado en cuadrados</li>
                        <li>Lechuga cortada en tiras</li>
                        <li>Rucúcula cortada</li>
                        <li>Pesto</li>
                    </ul>
                    <h3 class="Subtitulo__Recetas">Preparación</h3>
                    <ol class="texto__Recetas">
                        <li>Hervir las pastas</li>
                        <li>Cortar en trozos el tomate, la lechuga, y la rucula</li>
                        <li>Escurrir las pastas</li>
                        <li>Colocarlas en un plato y agregarle el tomate, lechuga, rucula,junto con el pesto a gusto
                        </li>
                    </ol>
                </article>

                <article id="receta__noquis">
                    <h2 class="Recetas__Titulo">Ñoquis de Calabaza</h2>
                    <img src="../img/noquis-de-calabaza.jpg" alt="noquis calabaza" id="noquisImg">

                    <h3 class="Subtitulo__Recetas">Ingredientes</h3>
                    <ul class="texto__Recetas">
                        <li>800gr de calabaza</li>
                        <li>250gr de harina</li>
                        <li>1 yema de huevo</li>
                        <li>150 gr de queso fresco</li>
                        <li>Sal</li>
                        <li>Pimienta</li>
                        <li>Aceite de oliva</li>
                    </ul>
                    <h3 class="Subtitulo__Recetas">Preparación</h3>
                    <ol class="texto__Recetas">
                        <li>Cocinar la calabaza al horno, al vapor o al microondas. No debe ser hervida así no absorbe
                            agua.
                            Debe quedar lo más seca posible. </li>
                        <li>Hacer un puré y cuando esté tibia agregar la yema, la sal, la pimienta, la nuez moscada y la
                            harina tamizada. En lo posible, no usar tanto las manos para no pasarle calor. Unirlo con
                            una
                            espátula hasta conseguir un bollo bien homogéneo.</li>
                        <li>Formar choricitos y darle la forma a los ñoquis con un tenedor.</li>
                        <li>Hervir por unos minutos, hasta que floten.</li>
                        <li>Colocar en una fuente con una capa de salsa en la base y luego ponerle el resto de la salsa
                            por
                            encima. Agregarle el queso y gratinar en horno fuerte.</li>
                    </ol>

                </article>
            </section>


        </main>
        <footer class="footer-extend">
            <div>
                <p>Copyright © 2022 </p>
            </div>
            <div class="footer__logos">
                <a href="https://www.twitter.com" target="_blank"><img style="max-width: 3%;" src="../img/tw.png"
                        alt="Twitter"> </a>
                <a href="https://www.facebook.com" target="_blank"><img style="max-width: 3%;" src="../img/fb.png"
                        alt="Facebook"> </a>
                <a href="https://www.instagram.com" target="_blank"><img style="max-width: 3%;" src="../img/ig.png"
                        alt="Instagram"> </a>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>