<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastas y Salsas</title>
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="contenedor__pastas__y__salsas__grid">
        <header>
            <nav class="navbar flex-row container">
                <picture>
                    <a href="../../index.html">
                        <img style=" max-width: 50%;" src="../img/logo.png" alt="Logo Home"
                            class="header__logo flex-row">
                    </a>
                </picture>
                <ul class="header__botones flex-row">
                    <li> <a href="../../index.html">Inicio</a> </li>
                    <li> <a href="../views/recetas.html">Recetas</a> </li>
                    <li> <a href="../views/postres.html">Postres</a></li>
                    <li> <a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main class="main__container__pastas__y__salsas">
            <section>

                <article id="receta__pastas">

                    <h1 class="RecetasTitulo__Grande">Pastas y Salsas</h1>
                    <h2 class="Recetas__Titulo">Pastas Saludables</h2>

                    <img src="../img/pastas.jpg" alt="pastas saludables" id="pastasImg">

                    <h3 class="Subtitulo__Recetas">Ingredientes</h3>

                    <ul class="texto__Recetas">
                        <li>Pastas en moñas</li>
                        <li>Tomate cortado en cuadrados</li>
                        <li>Lechuga cortada en tiras</li>
                        <li>Rucúcula cortada</li>
                        <li>Pesto</li>
                    </ul>
                    <h3 class="Subtitulo__Recetas">Preparación</h3>
                    <ol class="texto__Recetas">
                        <li>Hervir las pastas</li>
                        <li>Cortar en trozos el tomate, la lechuga, y la rucula</li>
                        <li>Escurrir las pastas</li>
                        <li>Colocarlas en un plato y agregarle el tomate, lechuga, rucula,junto con el pesto a gusto
                        </li>
                    </ol>
                </article>

                <article id="receta__noquis">
                    <h2 class="Recetas__Titulo">Ñoquis de Calabaza</h2>
                    <img src="../img/noquis-de-calabaza.jpg" alt="noquis calabaza" id="noquisImg">

                    <h3 class="Subtitulo__Recetas">Ingredientes</h3>
                    <ul class="texto__Recetas">
                        <li>800gr de calabaza</li>
                        <li>250gr de harina</li>
                        <li>1 yema de huevo</li>
                        <li>150 gr de queso fresco</li>
                        <li>Sal</li>
                        <li>Pimienta</li>
                        <li>Aceite de oliva</li>
                    </ul>
                    <h3 class="Subtitulo__Recetas">Preparación</h3>
                    <ol class="texto__Recetas">
                        <li>Cocinar la calabaza al horno, al vapor o al microondas. No debe ser hervida así no absorbe
                            agua.
                            Debe quedar lo más seca posible. </li>
                        <li>Hacer un puré y cuando esté tibia agregar la yema, la sal, la pimienta, la nuez moscada y la
                            harina tamizada. En lo posible, no usar tanto las manos para no pasarle calor. Unirlo con
                            una
                            espátula hasta conseguir un bollo bien homogéneo.</li>
                        <li>Formar choricitos y darle la forma a los ñoquis con un tenedor.</li>
                        <li>Hervir por unos minutos, hasta que floten.</li>
                        <li>Colocar en una fuente con una capa de salsa en la base y luego ponerle el resto de la salsa
                            por
                            encima. Agregarle el queso y gratinar en horno fuerte.</li>
                    </ol>

                </article>
            </section>


        </main>
        <footer class="footer">
            <div>
                <p class="copyrightText">Copyright © 2022 </p>
            </div>
            <div class="footer__logos">
                <a href="https://www.twitter.com" target="_blank"><img style="max-width: 3%;" src="../img/tw.png"
                        alt="Twitter"> </a>
                <a href="https://www.facebook.com" target="_blank"><img style="max-width: 3%;" src="../img/fb.png"
                        alt="Facebook"> </a>
                <a href="https://www.instagram.com" target="_blank"><img style="max-width: 3%;" src="../img/ig.png"
                        alt="Instagram"> </a>
            </div>
        </footer>
    </div>
</body>

</html>