<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/minilogo.jpg" type="image/x-icon">
    <title>Postres</title>
    <link rel="stylesheet" href="../../css/index.css">

</head>

<body>
    <div class="contenedor__postres__grid">
        <header>
            <nav class="navbar flex-row container">
                <picture>
                    <a href="../../index.html">
                        <img style=" max-width: 50%;" src="../img/logo.png" alt="Logo Home"
                            class="header__logo flex-row">
                    </a>
                </picture>
                <ul class="header__botones flex-row">
                    <li> <a href="../../index.html">Inicio</a> </li>
                    <li> <a href="../views/recetas.html">Recetas</a> </li>
                    <li> <a href="../views/postres.html">Postres</a></li>
                    <li> <a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="main__container__postres">
                <article id="receta__panqueques">
                    <h1 class="Recetas__Titulo">Top 1: Panqueques Americanos</h1>
                    <img src="../img/pancakes.jpg" alt="Panqueques Americanos" id="panquequesImg">

                    <h3 class="Subtitulo__Recetas">Ingredientes</h3>
                    <ul class="texto__Recetas">
                        <li>2 tazas de harina</li>
                        <li>2 ½ cucharaditas de polvo para hornear</li>
                        <li>3 cucharadas de azúcar</li>
                        <li>½ cucharadita de sal</li>
                        <li>2 huevos</li>
                        <li>1 ½ tazas de leche</li>
                        <li>2 cucharadas de manteca derretida</li>

                    </ul>

                    <h3 class="Subtitulo__Recetas">Preparación</h3>
                    <ol class="texto__Recetas">
                        <li>Tamizamos la harina, el polvo de hornear, el azúcar y la sal.</li>
                        <li> Por otro lado, batimos los huevos con la leche.</li>
                        <li>Agregamos la mezcla de harina, batiendo con batidora eléctrica hasta que se integren todos
                            los
                            ingredientes.</li>
                        <li>Añadimos la manteca derretida y continuamos batiendo.</li>
                        <li>Engrasamos una sartén y llevamos a fuego suave.</li>
                        <li>Vertemos un ¼ taza de la mezcla, expandiéndola por toda la base del sartén.</li>
                        <li>Cocinamos hasta que comience a burbujear y se dore.</li>
                        <li>Volteamos el panqueque y cocinamos por el otro lado hasta que también se dore.</li>
                        <li>Repetimos este procedimiento hasta terminar con toda la mezcla de Panqueques Americanos.
                        </li>
                    </ol>
                </article>
                <article id="receta__churros">
                    <h2 class="Recetas__Titulo">Receta de Churros Faciles y Rapidos</h2>
                    <img src="../img/Churros.jpg" alt="Churros" id="churrosImg">

                    <h3 class="Subtitulo__Recetas">Ingredientes</h3>
                    <ul class="texto__Recetas">
                        <li>500g de harina</li>
                        <li>650ml de agua</li>
                        <li>6g de sal</li>
                        <li>3 cucharadas de aceite</li>
                        <li>Aceite de girasol o maíz</li>
                        <li>Azúcar c/n</li>

                    </ul>

                    <h3 class="Subtitulo__Recetas">Preparación</h3>
                    <ol class="texto__Recetas">
                        <li>Tamiza la harina y coloca en un bol.</li>
                        <li>Coloca el agua en una olla junto con las tres cucharadas de aceite y la sal, y mezcla muy
                            bien
                            con unas varillas metálicas.</li>
                        <li>Lleva al fuego y cuando el agua esté hirviendo, echa la harina y mientras se cocina remueve
                            con
                            una cuchara de madera.</li>
                        <li>Cuando veas que se va formando una masa, aparta del fuego y continúa mezclando con la
                            cuchara.
                        </li>
                        <li>Una vez que esté a una temperatura agradable, comienza amasar durante cinco minutos.</li>
                        <li>Coloca la masa en una churrera y corta a la medida que consideres.</li>
                        <li>Coloca abundante aceite en una olla y lleva a fuego medio.</li>
                        <li>Cuando el aceite este caliente, fríe los churros hasta que se doren.</li>
                        <li>Retira los churros de la sartén u olla con ayuda de una espátula y apoya sobre una bandeja
                            con
                            servilletas de papel para retirar el exceso de aceite.</li>
                        <li>Deja enfriar y espolvorea con azúcar.</li>

                    </ol>
            </section>

        </main>
        <footer class="footer">
            <div>
                <p class="copyrightText">Copyright © 2022 </p>
            </div>
            <div class="footer__logos">
                <a href="https://www.twitter.com" target="_blank"><img style="max-width: 3%;" src="../img/tw.png"
                        alt="Twitter"> </a>
                <a href="https://www.facebook.com" target="_blank"><img style="max-width: 3%;" src="../img/fb.png"
                        alt="Facebook"> </a>
                <a href="https://www.instagram.com" target="_blank"><img style="max-width: 3%;" src="../img/ig.png"
                        alt="Instagram"> </a>
            </div>
        </footer>
    </div>
</body>

</html>