<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas Express</title>
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="contenedor__recetas__express__grid">
        <header>
            <nav class="navbar flex-row container">
                <picture>
                    <a href="../../index.html">
                        <img style=" max-width: 50%;" src="../img/logo.png" alt="Logo Home"
                            class="header__logo flex-row">
                    </a>
                </picture>
                <ul class="header__botones flex-row">
                    <li> <a href="../../index.html">Inicio</a> </li>
                    <li> <a href="../views/recetas.html">Recetas</a> </li>
                    <li> <a href="../views/postres.html">Postres</a></li>
                    <li> <a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main class="main__container__recetas__express">
            <section>
                <article>
                    <h1 class="RecetasTitulo__Grande">Recetas Express</h1>

                    <div id="recetas__sandwich">
                        <h2 class="Recetas__Titulo">Sandwich de Lomito y Queso</h2>

                        <img src="../img/sandwich.jpg" alt="Sandwich" class="expressImg">

                        <h3 class="Subtitulo__Recetas">Ingredientes</h3>

                        <ul class="texto__Recetas">

                            <li>100g de Lomito </li>
                            <li>100g de Queso Muzzarella</li>
                            <li>1 huevo duro</li>
                            <li>Pan de sandwich</li>
                        </ul>

                        <h3 class="Subtitulo__Recetas">Preparación</h3>

                        <ol class="texto__Recetas">
                            <li>Hervir 1 huevo, luego cortarlo en rodajas</li>
                            <li>Colocar en el pan el lomito, luego agregar la muzzarella</li>
                            <li>Añadirle el huevo cortado </li>
                            <li>Cerrar el sandwich</li>
                            <li>Para un mejor sabor, tostar el pan en una plancha o sandwichera</li>
                        </ol>
                    </div>

                </article>

                <article>
                    <div id="recetas__sandwich">
                        <h2 class="Recetas__Titulo">Tarta de Jamon y Queso</h2>

                        <img style="max-width: 20%;" src="../img/tarta_de_jamon_y_queso.jpg"
                            alt="tarta de jamon y queso" class="expressImg">

                        <h3 class="Subtitulo__Recetas">Ingredientes</h3>

                        <ul class="texto__Recetas">

                            <li>2 tazas de harina</li>
                            <li>3 Cucharadas de agua</li>
                            <li>150g de queso muzzarella en cubos</li>
                            <li>200g de jamón cocido en tiras finas</li>
                            <li>3 huevos</li>
                            <li>1 cebolla</li>
                            <li>3 Cucharadas de aceite de oliva</li>
                            <li>Al gusto de Sal</li>
                        </ul>
                        <h3 class="Subtitulo__Recetas">Preparación</h3>
                        <ol class="texto__Recetas">
                            <li>Cortamos el queso en cubos, y el jamón en tiritas.</li>
                            <li>Batiremos los huevos y una vez que estén bien aireados los condimentamos con sal y
                                pimienta.
                                También le vamos a sumar el jamón en tiritas
                            </li>
                            <li>Ponemos la tapa de tarta en la base.Sobre eso volcamos la mezcla de huevos y jamón, y
                                encima
                                de
                                todo colocamos el queso.
                            </li>
                            <li>Cerramos con la otra tapa de tarta y hacemos un lindo repulgue y la mandamos al horno
                                medio
                                a
                                unos 180° por 30 minutos .</li>
                        </ol>

                    </div>
                </article>
            </section>
        </main>
        <footer class="footer">
            <div>
                <p class="copyrightText">Copyright © 2022 </p>
            </div>
            <div class="footer__logos">
                <a href="https://www.twitter.com" target="_blank"><img style="max-width: 3%;" src="../img/tw.png"
                        alt="Twitter"> </a>
                <a href="https://www.facebook.com" target="_blank"><img style="max-width: 3%;" src="../img/fb.png"
                        alt="Facebook"> </a>
                <a href="https://www.instagram.com" target="_blank"><img style="max-width: 3%;" src="../img/ig.png"
                        alt="Instagram"> </a>
            </div>
        </footer>
    </div>
</body>

</html>