<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/minilogo.jpg" type="image/x-icon">
    <title>Recetas</title>
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div id="contenedor__Recetas__Grid">
    <header>
        <nav class="navbar flex-row container">
            <picture>
                <a href="../../index.html">
                    <img style=" max-width: 50%;" src="../img/logo.png" alt="Logo Home"
                        class="header__logo flex-row">
                </a>
            </picture>
            <ul class="header__botones flex-row">
                <li> <a href="../../index.html">Inicio</a> </li>
                <li> <a href="../views/recetas.html">Recetas</a> </li>
                <li> <a href="../views/postres.html">Postres</a></li>
                <li> <a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__container__Recetas container">
            <article id="receta__pizza ">
                <img src="../img/hacer-masa-de-pizza.jpg" alt="hacer masa de pizza" id="amasando">
                <div id="recetaPizza__texto">
                    <h1 class="Recetas__Titulo">Receta de Masa de Pizza Casera</h1>
                    <h3 class="Subtitulo__Recetas">Ingredientes</h3>
                    <ul class="texto__Recetas">
                        <li>400 gramos de harina de trigo</li>
                        <li>200 ml de agua tibia</li>
                        <li>2 cucharadas de aceite de oliva</li>
                        <li>15 gramos de levadura fresca</li>
                        <li>1 pizca de sal</li>
                    </ul>
                    <h3 class="Subtitulo__Recetas">Preparación</h3>
                    <ol class="texto__Recetas">
                        <li>En un bol agregamos el aceite, el agua y la levadura. Mezclamos y seguidamente le añadimos
                            la harina y la pizca de sal. Una vez que tengan mas o menos mezclado todo en el bol lo
                            pasamos a la mesada para amasar bien.
                        </li>
                        <li>Ahora comienza el amasado. Ponemos un poco de harina en la mesada y tendremos que amasar
                            como 3 o 4 minutos sin parar. Veremos que hemos terminado cuando la masa esté lisa
                            totalmente, si se pega mucho le ponemos un poco de harina y seguimos hasta que quede lisa.
                        </li>
                        <li>Ahora una vez lista, la dejamos reposar durante 1 hora más o menos. Una vez reposada la
                            partimos en dos y podemos hacer dos pizzas. La amasamos y estiramos. Ponemos los
                            ingredientes y al horno.</li>
                    </ol>
                </div>
                <img src="../img/amasar.jpg" alt="amasando" id="amasando2">
            </article>

            <article id="receta__croquetas">
                <h2 class="Recetas__Titulo">Receta de Croquetas de papa</h2>
                <img src="../img/croquetas-de-papa-foto-principal.jpg"
                    alt="croquetas de croquetas-de-papa-foto-principal" id="croquetasImg">
                <h3 class="Subtitulo__Recetas">Ingredientes</h3>
                <ul class="texto__Recetas">
                    <li>4 papas</li>
                    <li>100 g de manteca</li>
                    <li>2 huevos</li>
                    <li>3 yemas</li>
                    <li>Sal, pimienta y nuez moscada</li>
                    <li>1 cucharada de perejil picado</li>
                    <li>1 diente de ajo</li>
                    <li>1 taza de pan rallado</li>
                    <li>Aceite para freirlas</li>
                </ul>

                <h3 class="Subtitulo__Recetas">Preparación</h3>
                <ol class="texto__Recetas">
                    <li>Pelar las papas, lavarlas y cocinarlas enteras a fuego vivo 25 minutos o hasta que estén
                        tiernas. Hacer un puré y llevarlo 2 minutos al fuego, revolviendo sin parar, para secarlo bien.
                    </li>
                    <li>Incorporar la manteca bien fría y cortada en trozos. Mezclar vigorosamente. Sobre el fuego
                        suave, agregar un huevo y las yemas, salpimentar a gusto y condimentar con nuez moscada.
                    </li>
                    <li>Dejarlo enfriar muy bien en la heladera. Hacer esferas de puré -del tamaño de una pelotita de
                        ping pong- con las manos enmantecadas.</li>
                    <li>Pasarlas por un huevo batido con el perejil, el ajo, sal y pimienta. Rebozar las croquetas con
                        el pan rallado y freírlas en abundante aceite caliente hasta que se doren parejo.</li>
                </ol>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div>
            <p class="copyrightText">Copyright © 2022 </p>
        </div>
        <div class="footer__logos">
            <a href="https://www.twitter.com" target="_blank"><img style="max-width: 3%;" src="../img/tw.png"
                    alt="Twitter"> </a>
            <a href="https://www.facebook.com" target="_blank"><img style="max-width: 3%;" src="../img/fb.png"
                    alt="Facebook"> </a>
            <a href="https://www.instagram.com" target="_blank"><img style="max-width: 3%;"
                    src="../img/ig.png" alt="Instagram"> </a>
        </div>
    </footer>
</div>
</body>

</html>