/*HEADER*/

header {
    display: flex;
    background-image: url(../assets/img/banner.jpg);
    background-size: 100%;
    grid-column: 1/9;
    grid-row: 1;

    .navbar {
        min-height: 10vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
    }
    
    .header__logo {
        flex-basis: 10%;
        flex-direction: row;
        justify-content: flex-start;
    }

    .navbar-nav{
        flex-basis: 50%;
        justify-content: space-between;
        font-family: $font-nav;
        list-style-type: none;
        margin: 0 auto;
    }

    .nav-link:hover {
        background-color: pink;
    }

    .nav-link{
        text-decoration: underline;
        color: black ;
        font-size: $text-medium;
        display: inline-block;
    }
}












