/*HEADER*/

header {
    display: flex;
    background-image: url(../assets/img/banner.jpg);
    background-size: 100%;
    grid-column: 1/9;
    grid-row: 1;

    .navbar {
        min-height: 10vh;
        @include flex (row, space-between,center, 2rem);
        padding: 0 4rem;

        &-nav{
            flex-basis: 50%;
            justify-content: space-between;
            font-family: $font-nav;
            list-style-type: none;
            margin: 0 auto;
        }  
    }
    
    .header__logo {
        flex-basis: 10%;
        @include flex (row, space-between,flex-start, 2rem);
        
    }

    

    .nav-link{
        text-decoration: underline;
        color: black ;
        font-size: map-get($map: $text-size, $key: 'text-medium');
        display: inline-block;

        &:hover {
            background-color: pink;
        }
    }

   
}












